<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test name="Action and Parameter test" >-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <parameter name="env" value="dev"/>-->
<!--            <classes>-->
<!--                <class name="selenium.practice.ActionsTest"/>-->
<!--            </classes>-->
<!--    </test>-->

<!--    <test name="Group Execution">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"/>-->
<!--&lt;!&ndash;                <exclude name="DO_NOT_RUN_ME"/>&ndash;&gt;-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="selenium.practice.ParameterizationTest"/>-->
<!--            <class name="selenium.practice.GroupingTest"/>-->
<!--            <class name="selenium.practice.ActionsTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Test 2">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="regression"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="selenium.practice.ParameterizationTest"/>-->
<!--            <class name="selenium.practice.GroupingTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    This is for page object model tests execution-->
<!--        <test name="POM Test">-->
<!--            <classes>-->
<!--                <class name="demo_pom_test.LoginPageTest"/>-->
<!--                <class name="demo_pom_test.HomePageTest"/>-->
<!--            </classes>-->
<!--        </test>-->

<!--    This test suite is for parallel execution-->
<!--    <test name="Parallel Execution" parallel="methods" thread-count="2">-->
<!--        &lt;!&ndash;  <parameter name="browser" value="firefox"/>&ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="selenium.practice.ParallelExecutionTest"/>-->
<!--        </classes>-->
<!--    </test>-->


    <!--    This test suite is used for Data Driven Testing-->
<!--        <test name="Data Driver Testing">-->
<!--            <classes>-->
<!--                <class name="selenium.practice.DataProviderTest"/>-->
<!--            </classes>-->
<!--        </test>-->

    <!--    This test suite is used for Data Driven Testing-->
<!--    <test name="iFrame Automation Testing">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="selenium.practice.IFrameTest"/>-->
<!--        </classes>-->
<!--    </test>-->


    <!--    This test suite is used for Handing Multiple windows -->
    <test name="Handling Multiple windows Testing">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="selenium.practice.WindowHandingTest"/>
        </classes>
    </test>


</suite>